/*border-radius: 50px 3px;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP:wght@400;500;900&display=swap');

.blog-cont-title{
    background-color: rgba(250, 250, 250, 0.1);
    border-radius: 10px 1px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 80%;
    padding-top: 0.25%;
    padding-left: 2%;
    padding-bottom: 0.5%;
}

.blog-cont{
    font-family: 'Noto Sans JP', sans-serif;
}

.contentJP {
    position: relative;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contentJP::before {
    margin-left: 10px;
    content: "";
    position: absolute;
    /* 擬似要素の絶対位置を指定 */
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    /* 線の太さ */
    background-color: #017c1f;
    /* 線の色 */
}