@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;700&display=swap');

body {
    font-family: "Zilla Slab", system-ui !important;
    font-weight: 400;
    font-style: normal;
    background-color: #031700;
    font-optical-sizing: auto;
    overflow-x: hidden;
}

.back-cont {
    color: #f0f0f0;
    background: linear-gradient(to bottom right, rgba(45, 255, 69, 0.1), rgba(45, 255, 69, 0.07));
    margin-left: 5px;
    margin-top: 15px;
    margin-right: 45%;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 10px;
    box-shadow: rgba(26, 93, 20, 0.6) 10px 10px;
    text-shadow: 0 00 4px #fff;
}

p {
    font-size: 16px;
    line-height: 2px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

header {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #020e00;
    padding: 20px 10px;
    padding-left: 10px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

header a {
    font-size: 17px;
    color: #c7ffdb;
}

.content {
    position: relative;
    padding-left: 20px;
}

.content::before {
    margin-left: 10px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #017c1f;
}

.content a {
    font-size: 14px;
}

.siteMap {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
    line-height: 10px;
}

.siteMap::before {
    margin-left: 10px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #017c1f;
}

.fa-house-chimney {
    size: 20px;
}

.seacret a {
    color: #00000000;
    font-size: 1px;
}