@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;700&display=swap');

body {
    font-family: "Zilla Slab", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #000000;
    color: #00b100;
    font-optical-sizing: auto;
    text-shadow: 0px 0px 3px #ffffff;
}

p {
    font-size: 20px;
    line-height: 0px;
}

h1 {
    font-size: 20px;
}

a {
    color: #00b100;
    text-decoration: none;
}