@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    background-color: #000000;
    color: #00b100;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0px 0px 3px #ffffff;
}

p {
    font-size: 20px;
    line-height: 0px;
}

h1 {
    font-size: 20px;
}

a {
    color: #00b100;
    text-decoration: none;
}